html, body, * { margin:0px; padding:0px; }

body {
	font-family:Ubuntu, Tahoma;
	font-size:10pt;
	height:100%; widht:100%; background:#F4F4F4;
	overflow-y: scroll;
}

.c {
	clear:both;
}

a:link, a:visited {
	color:#0066cc;
}
table { margin:15px 0; border: 1px solid #cdcdcd; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}
th { text-align:center; font-weight:bold; border: 1px solid #cdcdcd; }
th, td { padding:4px 6px; border: 1px solid #cdcdcd;}
h1, h2, h3, h4, h5 {
	color:gray;
	margin-bottom: 10px;
}
.copyright {
	color: gray;
	text-align: center;
	margin: 10px 0;
}

.box {
	width:750px;
	background:white;
	margin:10px auto;
	padding:20px;
	border-radius:5px;
}

/******************** SCAN FORM **************************/

/*.debug {
	margin:10px auto;
	width:750px;
}*/

.scanDebug {
	padding:5px 0;
	border:1px gray solid;
	background:#f5f5f5;
	color:gray;
	padding:5px;
	border-radius: 3px;
}
.scanDebugLog {
	/*height:250px;*/
	overflow:scroll;
	margin: 2px 0 0 0;
}
.scanForm {
	min-height:500px;
}
.scanLoader {
	display: none;
	height:500px;
	width:100%;
	margin:0 auto;
	text-align:center;
}
.scanLoader img {
	height:100%;
}
.scanResult {
	display: none;
}
.scanError, .scanSuccess {
	display: none;
}

/******************** SCAN FORM FIELDS **************************/

.scanDevice {
	padding-bottom: 10px;
}
.scanPagesHolder, .scanWarningTime, .scanPagesCountHolder, .scanArchiveRecommend {
	display: none;
}
.scanImageQualityValue {
	vertical-align: middle;
	font-size: 130%;
}
.scanNew {
	background-color: #8fd19e;
}
.scanDisabled {
	background-color: #f8cfcb;
	border-radius: 3px;
}


/******************** SCAN LIST **************************/

.scanItem {
	position:relative;
	height:16px;
}
.scanIcon {
	width:16px;
	height:20px;
	top:2px;
	left:2px;
	position:absolute;
}
.scanSize {
    text-align: right;
}
.scanFile {
	margin-left:16px;
}
.scanMassActionArchive, .scanMassActionDelete, .scanMassActionSelectNone {
	display: none;
}
.scanMassButton {
	display: block;
	float: left;
	margin-right: 10px;
}
.scanMassActionColumn {
	width:30px;
	text-align: center;
}
/******************** ... **************************/

.interfaceBlocker {
	position: fixed;
	top:0px;
	left: 0px;
	width:100%;
	height: 100%;
	opacity: 0.7;
	z-index: 1000;
	display: none;
}
.interfaceBlocker img {
	display: block;
	margin: 0px auto;
}
.interfaceBlockerTint {
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height: 100%;
	opacity: 0.5;
	z-index: 1000;
	background-color: #000000;
}
