<!DOCTYPE html>
<html>
  <head>
      <title>Веб-сканирование {% block title %}{% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsrap/bootstrap.min.css') }}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bs4.pop.css') }}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" media="screen" />
      <!--[if lte IE 6]><link rel="stylesheet" href="{{ url_for('static', filename='css/cssf-ie6.css') }}" type="text/css" media="screen" /><![endif]-->
      <!--[if IE 7]><link rel="stylesheet" href="{{ url_for('static', filename='css/cssf-ie7.css') }}" type="text/css" media="screen" /><![endif]-->

      <script type="text/javascript" src="{{ url_for('static', filename='js/jqeury/jquery-3.4.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bs4.pop.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
      <div class="interfaceBlocker">
          <img src="{{ url_for('static', filename='css/loaders/loader18.gif') }}" alt='' />
          <div class="interfaceBlockerTint"></div>
      </div>
      <div class="page">
        {% block content %}{% endblock %}
        <div class="copyright">Copyright &copy; <a href="https://gitlab.com/ilmenshik/webscan">webscan</a>, ilmenshik. All rights reserved.</div>
      </div>
  </body>
</html>





