{% extends '_base.html' %}

{% block content %}

<div class="box"><h2>Ошибка {{ error_code }}</h2>
    <strong>Ошибка</strong>: {{ error_message }}
    <br />
    <br />
    <a href="/">Вернуться на главную</a>
</div>

{% endblock %}

