{% extends '_base.html' %}

{% block content %}

<div class="box"><h2>Интерфейс сканирования</h2>
<div class="scanError">
	<div class="alert alert-danger">
	<strong>Ошибка!</strong> <span class="scanErrorMessage"></span>
	<div class="scanResult">
		<!-- h1>Сканирование завершено!</h1 -->
		<div class="scanDebug">
			<strong>DEBUG LOG</strong>
			<pre class="scanDebugLog">
			</pre>
		</div>
		<br />
		<button type="button" class="btn btn-block btn-secondary scanReset"><i class="fas fa-times"></i> Закрыть</button>
	</div>
	</div>
</div>

<div class="scanSuccess">
	<div class="alert alert-success">
	<strong>Сканирование завершено!</strong>
	</div>
	<span class="scanSuccessMessage"></span>
	<br />
	<br />
	<button type="button" class="btn btn-block btn-success scanReset"><i class="fas fa-check"></i> OK</button>
</div>

<div class="scanLoader" {% if scanner_is_busy %}style="display:block;"{% endif %}>
	<img src="{{ url_for('static', filename='css/loaders/loader18.gif') }}" alt='' />
</div>

<form class="scanForm" data="{{ scanner_list | length }}" {% if scanner_is_busy %}style="display:none;"{% endif %}>
    <fieldset>
    	<div class="form-group row scanDevice">
    		<label for="scanDevice" class="col-3 col-form-label text-right">Сканнер</label>
    		<div class="col-9">
                    {% if scanner_list %}
                        <select id="scanDevice" name="scanDevice" class="form-control scanSubmitter">
                            {% for scanner in scanner_list %}
                                <option value="{{ scanner.device_id }}">{{ scanner.name }}</option>
                            {% endfor %}
                        </select>
    				{% else %}
                        <div style="color:red; font-size: 120%;" class="col-form-label">УСТРОЙСТВА СКАНИРОВАНИЯ ОТСУТСТВУЮТ</div>
                    {% endif %}
    			<small class="form-text text-muted"><a href="#" class="scanDeviceUpdate">Обновить список устройств</a></small>
    		</div>
    	</div>

    	<div class="form-group row">
    		<label for="scanFilename" class="col-3 col-form-label text-right">Имя задания</label>
    		<div class="col-6">
    			<input id="scanFilename" name="scanFilename" value="{{ new_scan_name }}" class="form-control scanFilename scanSubmitter" type="text" placeholder="Введите имя задания" />
    		</div>
    		<div class="col-3">
    			<select name="scanExtension" class="form-control scanExtension scanSubmitter">
    				<option value="pdf" selected>PDF</option>
    				<option value="jpg">JPEG</option>
    				<option value="tif">TIFF</option>
    				<option value="png">PNG</option>
    			</select>
    		</div>
    	</div>

        <div class="form-group row">
    		<label for="scanSource" class="col-3 col-form-label text-right">Источник</label>
    		<div class="col-6">
    			<select id="scanSource" name="scanSource" class="form-control scanSource scanSubmitter">
    				<option value="Flatbed" selected>Планшетный сканер</option>
    				<option value="ADF">Автоматический податчик документов </option>
    			</select>
    		</div>
    	</div>

    	<div class="form-group row">
    		<label for="scanPages" class="col-3 col-form-label text-right">Количество страниц</label>
    		<div class="col-3 scanPagesHolder">
                <select id="scanPages" name="scanPages" class="form-control scanPages scanSubmitter">
    				<option value="1" selected>Одна</option>
    				<option value="99">Несколько</option>
    			</select>
    		</div>
    		<div class="col-3 scanPagesCountHolder">
    			<input name="scanPagesCount" value="2" class="form-control scanSubmitter" type="number" min="1" placeholder="Количество" />
    		</div>
            <div class="col-6 col-form-label scanPagesOnlyOne">
    			Одна
    		</div>

    	</div>

    	<div class="form-group row">
    		<label for="scanDPI" class="col-3 col-form-label text-right">Разрешение (DPI):</label>
    		<div class="col-3">
				<select id="scanDPI" name="scanDPI" class="form-control scanDPI scanSubmitter">
    				<option value="75">75</option>
    				<option value="100">100</option>
    				<option value="150">150</option>
    				<option value="200" selected>200</option>
    				<option value="300">300</option>
    				<option value="600">600</option>
    				<option value="1200">1200</option>
    				<option value="2400">2400</option>
    			</select>
    		</div>
            <div class="col-6">
                <label class="scanWarningTime col-form-label text-right" style="color:red;"><small class="form-text">* Сканирование может занять продолжительное время!</small></label>
    		</div>
    	</div>

    	<div class="form-group row">
    		<label for="scanColor" class="col-3 col-form-label text-right">Цвет</label>
    		<div class="col-3">
    			<select id="scanColor" name="scanColor" class="form-control scanSubmitter">
                    <option value="Gray" selected>Черно-белое</option>
    				<option value="Color">Цветное</option>
    			</select>
    		</div>
    	</div>

    	<div class="form-group row">
    		<label for="scanImageQuality" class="col-3 col-form-label text-right">
    			Качество изображений<br />
    			<small class="form-text text-muted">(только JPEG/PDF)</small>
    		</label>
    		<div class="col-6  col-form-label">
    			<input id="scanImageQuality" name="scanImageQuality" class="form-control-range scanImageQuality" value="80" type="range" min="10" max="100" step="10" />
    		</div>
            <div class="col-3 scanImageQualityValueHolder col-form-label">
                <span class="scanImageQualityValue">80</span>%
    		</div>
    	</div>

        <div class="form-group row">
    		<label for="scanArchive" class="col-3 col-form-label text-right">Архивация</label>
    		<div class="col-3">
                <select id="scanArchive" name="scanArchive" class="form-control scanArchive scanSubmitter">
    				<option value="">Без архивации</option>
    				<option value="zip">ZIP</option>
    				<option value="tar">TAR</option>
    			</select>
    		</div>
            <div class="col-6">
                <label for="scanArchive" class="col-form-label scanArchiveRecommend"><small class="form-text text-muted">* Рекомендуется архивирование</small></label>
    		</div>
    	</div>

    	<div class="form-group row">
    		<div class="col-3">
    		</div>
    		<div class="col-9">
    			<button type="button" class="btn btn-block btn-primary btn-lg scanStart{% if not scanner_list %}btn-outline-secondary{% endif %}" {% if not scanner_list %}disabled{% endif %}><i class="fas fa-file-image"></i> Сканировать</button>
    		</div>
    	</div>
    </fieldset>
</form>
</div>

<div class="box">
	<h2>Последние сканирования</h2>
	{% include 'scans_list.html' %}
</div>

{% endblock %}

