{% extends '_base.html' %}

{% block content %}

<div class="box">
    <h2>Результаты сканирования</h2>

    <div>
        <a href="/" class="scanMassButton">
            <button class="btn btn-outline-primary btn-sm">
                <i class="fas fa-arrow-left"></i> Сканирование
            </button>
        </a>

        <a href="#" class="scanMassActionMerge scanMassButton scanMassActionButton">
            <button class="btn btn-outline-primary btn-sm">
                <i class="fas fa-layer-group"></i> Конвертировать
            </button>
        </a>

        <a href="#" class="scanMassActionArchive scanMassButton scanMassActionButton">
            <button class="btn btn-outline-primary btn-sm">
                <i class="far fa-file-archive"></i> Сжать в ZIP
            </button>
        </a>

        <a href="#" class="scanMassActionDelete scanMassButton scanMassActionButton">
            <button class="btn btn-outline-primary btn-sm">
                <i class="fas fa-trash"></i> Удалить
            </button>
        </a>

        <div class="c"></div>
    </div>

    <br />

    {% include 'scans_list.html' %}
</div>

{% endblock %}

