<table class="scanListTable table-hover">
    <tr>
        {% if scans_mass_actions %}
        <th class="scanMassActionColumn">
        <div class="scanMassActionSelect">
            <span class="scanMassActionSelectAll"><i class="far fa-check-square"></i></span>
            <span class="scanMassActionSelectNone"><i class="far fa-square"></i></span>
        </div>
        </th>
        {% endif %}
        <th style="width:140px;">Дата</th>
        <th>Файл</th>
        <th style="width:120px;">Размер</th>
        <th style="width:65px;">&nbsp;</th>
    </tr>

    {% if scans_list %}
        {% for scan in scans_list %}
        <tr>
            {% if scans_mass_actions %}
            <td class="scanMassActionColumn">
                <input class="scanMassActions" type="checkbox">
            </td>
            {% endif %}
            <td>
                {{ scan.datetime }}
            </td>
            <td class="scanItem">
                <a href="/download/{{ scan.name }}">
                    <img src="{{ url_for('static', filename='css/icons/' + scan.exten + '.png') }}" class="scanIcon" />
                    <div class="scanFile">{{ scan.name }}</div>
                </a>
            </td>
            <td class="scanSize">
                {{ scan.size }}
            </td>
            <td>
                <a href="#" class="scanRemove" data="{{ scan.name }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% if not scans_mass_actions %}
{% endif %}

<div class="scanShowAll" style="display: {% if scans_list %}block{% else %}none{% endif %};">
    <a href="/scans">Показать все</a>
</div>
<div class="scanEmpty" style="display: {% if scans_list %}none{% else %}block{% endif %};">
    Список сканов пуст
</div>
